@{
    ViewData["Area"] = "Clientes";
}


<div class="jumbotron justify-content-center">
    <h1>Escanee el codigo QR del turnero</h1>
    <form id="qr_form" asp-action="ProcesarQR" method="post">
        <div class="row">
            <div id="reader"></div>
        </div>
        <div class="row justify-content-center">
            <input type="text" id="qrdata" name="data" hidden />
        </div>
    </form>
</div>

<script src="@Url.Content("~/Scripts/qrReader.js")" type="text/javascript"></script>