@{
    ViewData["Area"] = "Clientes";
}
<style type="text/css">
    .big-responsive-button {
        height: 20vh;
        width: 100%;
        font-size: 20px;
        text-align: center;
        border-radius: 10px;
        border: solid 1px;
        margin-bottom: 3px;
        background-color: rgb(239, 239, 239);
    }

    .big-responsive-button:hover {
        background-color: rgb(175, 175, 175);
    }
</style>

<main>
    <div class="row">
        <div class="jumbotron col-12 ">
            <div class="row flex-row flex-wrap">
                <div class="col-md-6 col-sm-12">
                    <input class="big-responsive-button" 
                           type="button"
                           value="Busca un turnero en el mapa"
                           onclick='location.href="@Url.Action("Mapa", "SolicitarTurno", new { Area = "Clientes" })"'/>  
                </div>
                <div class="col-md-6 col-sm-12">
                    <input class="big-responsive-button"
                           type="button"
                           value="Escanear un QR"
                           onclick='location.href="@Url.Action("LeerQR", "SolicitarTurno", new { Area = "Clientes" })"' />
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <p>Si sos un propietario, entra <a asp-area="Propietarios" asp-controller="Home">aca</a></p>
</footer>