@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h3>@Model.Message</h3>

@if (Model.ShowRequestId)
{
<p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
}

